.contacto{
    background-color: rgb(177, 22, 22);
    color: white;
    div{
        padding: 20px;
        text-align: center;
        width: 70%;
        margin: auto;
        h1{
            font-size: 40px;
            margin: 10px;
        }
        p{
            font-size: 20px;
            margin: 10px;
        }
        h2{
            font-size: 25px;
            margin: 20px;
        }
        ul{
            li{
                margin: 5px;
                }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 50%;
        text-align: center;
        margin: auto;
        input{
            width: 50%;
            margin: auto;
        }
    }
    
}