.contacto{
    background-color: rgba(0, 0, 0, 0.137);
    .comentario-contacto{
        text-align: center;
        h1{
            color: $color-primario;
            font-size: 50px;
            padding: 10px;
        }
        p{
            width: 70%;
            margin: auto;
            color: $color-secundario;
            font-size: 30px;
        }
        h2{
            color: $color-primario;
            font-size: 40px;
            padding: 10px;
        }
        ul{
            li{
                color: $color-secundario;
                width: 80%;
                margin: auto;
                font-size: 20px;
                padding: 10px;
            }
        }
    }
    .datos-contacto{
        display: flex;
        padding: 10px;
    }
    .info-contacto{
        margin: 10px;
        text-align: center;
        h2{
            color: $color-primario;
            font-size: 30px;
            margin: 10px;
        }
        p{
            color: $color-secundario;
            font-size: 22px;
            width: 80%;
            margin: auto;
        }
    }
    .form-contacto{
        padding: 10px;
        border: solid 5px;
        border-radius: 20px;
        label{
            color: $color-primario;
            padding: 10px;
            font-size: 20px;
        }
        a{
            text-decoration: none;
            color: $color-primario;
            padding: 5px;
            border: solid  $color-primario 2px;
            border-radius: 10px;
            font-size: 20px;
            transition-property: background-color;
            transition-duration: 1s;
            &:hover{
                background-color: pink;
            }
        }
    }
}