.hero {
    a {
        color: red;
        font-size: 30px;
        text-decoration: none;
        background-color: black;
        @include flex(flex, center, center);
    }

    h1 {
        font-size: 50px;
        color: $color-primario;
        padding: 20px;
        background-color: bisque;
        text-align: center;
    }

    h2 {
        color: blueviolet;
        text-align: center;
        font-size: 40px;
        margin: 20px;
        animation-name: aparicion;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-direction: initial;
        animation-iteration-count: 1;
        @keyframes aparicion{
            from{
                margin-right: 100%;
            }
            to{
                margin-right: 0%;
            }
        }
    }
}

.productos-contenedor {
    flex-wrap: wrap;
    @include flex(flex, space-around, center);

    .producto{
        width: 250px;
        height: 380px;
        border: 2px solid;
        border-radius: 10px;
        margin: 20px;
        text-align: center;
        transition: 1s;
        &:hover {
            transform: scale(1.1);}
        input {
            align-items: center;
            margin: 10px;
        }
        button{
            background-color: $color-primario;
            border: color black 1px;
        }
    }
}

.presentacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    background-image: url(../img/imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;

    h2 {
        font-family: cursive;
        color: #dadf14;
        font-size: 60px;
    }

    p {
        font-family: cursive;
        color: beige;
        font-size: 25px;
        width: 70%;
    }
}

.opiniones {
    h2 {
        text-align: center;
        color: $color-secundario;
        padding: 20px;
        background-color: $color-primario;
        width: 100%;
    }

    div {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        div{
            img{
                width: 400px;
                border: 2px solid;
            }
        }
    }
}