.pg-productos{
    h1 {
        @extend %titulo-principal;
        font-size: 40px;
        margin: 30px;
    }
}

.promocion {
    width: 700px;
    height: 400px;
    margin: auto;
}

.ventas {
    h2 {
        @extend %titulo-principal;
        font-size: 40px;
        margin: 30px;
    }
}

.tarjetas {
    flex-wrap: wrap;
    @include flex(flex, space-around, center);

    .producto {
        width: 250px;
        height: 380px;
        border: 2px solid;
        border-radius: 10px;
        margin: 20px;
        text-align: center;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        input {
            align-items: center;
            margin: 10px;
        }
    }

    button {
        background-color: $color-primario;

        &:hover {
            background-color: $color-secundario;
        }
    }

}